<a href="https://colab.research.google.com/github/RealMyeong/AIFFELTHON/blob/main/SBShim/generate_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
! pip install soynlp

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting soynlp
  Downloading soynlp-0.0.493-py3-none-any.whl (416 kB)
     |████████████████████████████████| 416 kB 5.4 MB/s
Requirement already satisfied: psutil>=5.0.1 in /usr/local/lib/python3.7/dist-packages (from soynlp) (5.4.8)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from soynlp) (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from soynlp) (1.7.3)
Requirement already satisfied: numpy>=1.12.1 in /usr/local/lib/python3.7/dist-packages (from soynlp) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->soynlp) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->soynlp) (1.2.0)
Installing collected packages: soynlp
Successfully installed soynlp-0.0.493

In [4]:
import pandas as pd
import numpy as np
import random

from soynlp.tokenizer import LTokenizer
from soynlp.word import WordExtractor
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [65]:
data_path = '/content/drive/MyDrive/공부/AIFFELTHON/shared/TUNiB/Data/original_train_data.csv'
norm_path = '/content/drive/MyDrive/공부/AIFFELTHON/shared/TUNiB/Data/original_normal_data.csv'
agu_paths = ['/content/drive/MyDrive/공부/AIFFELTHON/shared/TUNiB/Data/original_train_data.csv',
             '/content/drive/MyDrive/공부/AIFFELTHON/shared/TUNiB/Data/original_train_data.csv',
             '/content/drive/MyDrive/공부/AIFFELTHON/shared/TUNiB/Data/original_train_data.csv']

train_label = 'non_label_sentence'
target_label = 'class'

In [9]:
data = pd.read_csv(data_path)
norm_data = pd.read_csv(norm_path)

NameError: ignored

In [20]:
agu_dataes = []
        
for agu_path in agu_paths:
    agu_dataes.append(pd.read_csv(agu_path))

In [21]:
new_data = pd.concat(agu_dataes)

In [24]:
agu_rates = []
rates = []
total = 0

for i in range(len(agu_paths)):
    rates.append(random.randint(5, 10))
    total = total + rates[i]

for i in range(len(agu_paths)):
    agu_rates.append(rates[i]/total)

In [30]:
train_num = len(data)
agu = 1

In [32]:
output_data = pd.concat([agu_dataes[i].sample((int)(agu_rates[i] * train_num * agu)) for i in range(len(agu_dataes))])

In [33]:
output_data

,class,label_sentence,non_label_sentence,binary_class
1401,갈취 대화,1:좋은 말 할 때 내놔라\n1:야 뒤져\n2:정말 이게 다예요\n1:장난쳐 놀러...,좋은 말 할 때 내놔라\n야 뒤져\n정말 이게 다예요\n장난쳐 놀러 오면서 이거밖...,공격 대화
3684,기타 괴롭힘 대화,1:헐 너 진짜 대단하다 내가 아는 사람 중에 최고야 또 남자친구 바뀌었니\n1...,헐 너 진짜 대단하다 내가 아는 사람 중에 최고야 또 남자친구 바뀌었니\n와 이...,공격 대화
3714,갈취 대화,1:어 너 매점과 가는 길에 내 것도\n2:그래 뭐 사다 줄까\n1:난 빵이랑...,어 너 매점과 가는 길에 내 것도\n그래 뭐 사다 줄까\n난 빵이랑 우유 여...,공격 대화
1355,갈취 대화,1:야 나 오늘 지갑을 안 가져왔는데 5만 원만 빌려주라\n2:아 지난번에도 빌려...,야 나 오늘 지갑을 안 가져왔는데 5만 원만 빌려주라\n아 지난번에도 빌려 간 돈...,공격 대화
2472,기타 괴롭힘 대화,1:야 쟤 진짜 냄새나 인정\n1:인정 뭔 남학생이 씻지도 않고 뭐 하는 거냐 쟨...,야 쟤 진짜 냄새나 인정\n인정 뭔 남학생이 씻지도 않고 뭐 하는 거냐 쟨 분명 ...,공격 대화
...,...,...,...,...
3824,직장 내 괴롭힘 대화,1:박 대리\n2:부장님 부르셨습니까\n1:박 대리는 일한지가 얼마 됐는데 아직도 ...,박 대리\n부장님 부르셨습니까\n박 대리는 일한지가 얼마 됐는데 아직도 기안서가 이...,공격 대화
3257,협박 대화,1:이야 오랜만이야 살맛 나나보다\n2:아닙니다\n1:아니긴 뭐가 아니야 새끼야 ...,이야 오랜만이야 살맛 나나보다\n아닙니다\n아니긴 뭐가 아니야 새끼야 장기 또 털...,공격 대화
1725,기타 괴롭힘 대화,1:칵 퉤\n2:앗 너 지금 뭐 하는 거야\n1:어머 너 거기 있었니 너무 작아서...,칵 퉤\n앗 너 지금 뭐 하는 거야\n어머 너 거기 있었니 너무 작아서 안 보였...,공격 대화
730,갈취 대화,1:우와 너 돈 진짜 많다 나 좀 빌려주라\n2:이거 나 학원비야\n1:학원비 ...,우와 너 돈 진짜 많다 나 좀 빌려주라\n이거 나 학원비야\n학원비 그거 잃어버...,공격 대화
2041,협박 대화,1:나 만나줘\n2:왜 그러세요 정말 부담스러워요 부장님\n1:아니 같이 나이 들어...,나 만나줘\n왜 그러세요 정말 부담스러워요 부장님\n아니 같이 나이 들어가는 처지에...,공격 대화

In [66]:
class DataRepository:
    def __init__(self, data_path=None, norm_path=None, agu_path=[]):
        self.data = pd.read_csv(data_path)
        self.norm_data = pd.read_csv(norm_path)
        self.agu_dataes = []
        
        for agu_path in agu_paths:
            self.agu_dataes.append(pd.read_csv(agu_path))

        self.init_tokenizer()

    def shuffle_rate(self):
        self.agu_rates = []
        rates = []
        total = 0

        for i in range(len(self.agu_dataes)):
            rates.append(random.randint(5, 10))
            total = total + rates[i]

        for i in range(len(self.agu_dataes)):
            self.agu_rates.append(rates[i] / total)

    def get_dataset(self, agu=2, norm=2000):
        self.shuffle_rate()

        train_num = len(self.data)

        agu_data = pd.concat([self.agu_dataes[i].sample((int)(self.agu_rates[i] * train_num * agu)) for i in range(len(self.agu_dataes))])

        output_data = pd.concat([agu_data, self.data, self.norm_data.sample(norm)])

        return self.tokenize_data(output_data)

    def init_tokenizer(self):
        agu_df = pd.concat(self.agu_dataes)
        total_df = pd.concat([self.data, self.norm_data, agu_df])

        sentences = total_df[train_label]
        sentences = [sen for sen in sentences]

        vocab_size = 30000
        
        word_extractor = WordExtractor(
            min_frequency=100, 
            min_cohesion_forward=0.05,
            min_right_branching_entropy=0.0
        )

        word_extractor.train(sentences)
        words = word_extractor.extract()

        cohesion_score = {word:score.cohesion_forward for word, score in words.items()}
        tokenizer = LTokenizer(scores=cohesion_score)
        
        self.tokenizer_tf = Tokenizer(num_words=vocab_size)

        sentences = [tokenizer.tokenize(sen) for sen in sentences]
        
        self.tokenizer_tf.fit_on_texts(sentences)

    def tokenize_data(self, df):
        sentences = df[train_label]

        sequences = self.tokenizer_tf.texts_to_sequences(sentences)
        
        train_data = pad_sequences(sequences)
        
        train_label = df[target_label]
        labels = {'협박 대화': 0, '갈취 대화': 1, '직장 내 괴롭힘 대화': 2, '기타 괴롭힘 대화': 3, '일반 대화': 4}
        train_label = train_label.apply(lambda x: labels[x])
        train_label = pd.get_dummies(train_label)
        
        print('train_x_shape :',train_data.shape)
        print('train_y_length :',len(train_label))
        
        return train_data, train_label

In [43]:
dr = DataRepository(data_path, norm_path, agu_paths)

training was done. used memory 3.483 Gb
all cohesion probabilities was computed. # words = 24895
all branching entropies was computed # words = 367372
all accessor variety was computed # words = 367372

In [48]:
len(data)

3870

In [52]:
3870 + 3870*2 + 3000

14610

In [51]:
train_X, train_Y = dr.get_dataset(2, 3000)

train_x_shape : (14608, 263)
train_y_length : 14608

In [60]:
train_Y

        0  1  2  3  4
2022    0  1  0  0  0
420     0  1  0  0  0
1711    0  0  1  0  0
1541    0  0  0  1  0
529     1  0  0  0  0
...    .. .. .. .. ..
42091   0  0  0  0  1
35365   0  0  0  0  1
72676   0  0  0  0  1
17405   0  0  0  0  1
104848  0  0  0  0  1

[14608 rows x 5 columns]

# 모델 테스트

In [56]:
import re
import tensorflow as tf
from tensorflow.keras.layers import Embedding, Dense, LSTM, Bidirectional
from tensorflow.keras.models import Sequential
from tensorflow.keras.models import load_model
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [63]:
embedding_dim = 10
label_size = 5
hidden_units = 8
vocab_size = 30000

# BiLSTM
model = tf.keras.Sequential()
model.add(tf.keras.layers.Embedding(vocab_size, embedding_dim, input_shape=(None,)))
model.add(tf.keras.layers.Bidirectional(LSTM(hidden_units, return_sequences=True, dropout=0.4)))
model.add(tf.keras.layers.Bidirectional(LSTM(hidden_units, return_sequences=True, dropout=0.4)))
model.add(tf.keras.layers.Bidirectional(LSTM(hidden_units//2, dropout=0.4)))
model.add(tf.keras.layers.Dense(vocab_size, activation='relu'))
model.add(tf.keras.layers.Dense(label_size, activation='softmax'))

In [64]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

epochs=10

history = model.fit(train_X,
                    train_Y,
                    epochs=epochs,
                    batch_size=256,
                    verbose=1)

Epoch 1/10
58/58 [==============================] - 61s 811ms/step - loss: 1.3338 - accuracy: 0.3866
Epoch 2/10
58/58 [==============================] - 48s 826ms/step - loss: 0.5740 - accuracy: 0.7834
Epoch 3/10
58/58 [==============================] - 47s 805ms/step - loss: 0.2598 - accuracy: 0.9105
Epoch 4/10
58/58 [==============================] - 47s 811ms/step - loss: 0.1385 - accuracy: 0.9538
Epoch 5/10
58/58 [==============================] - 48s 835ms/step - loss: 0.0832 - accuracy: 0.9725
Epoch 6/10
58/58 [==============================] - 51s 882ms/step - loss: 0.0590 - accuracy: 0.9797
Epoch 7/10
58/58 [==============================] - 47s 815ms/step - loss: 0.0502 - accuracy: 0.9830
Epoch 8/10
58/58 [==============================] - 47s 808ms/step - loss: 0.0412 - accuracy: 0.9858
Epoch 9/10
58/58 [==============================] - 49s 843ms/step - loss: 0.0289 - accuracy: 0.9901
Epoch 10/10
58/58 [==============================] - 47s 817ms/step - loss: 0.0260 - accuracy: 0.9910