<a href="https://colab.research.google.com/github/RealMyeong/AIFFELTHON/blob/main/Seyoung/%EC%9D%BC%EB%B0%98%EB%8C%80%ED%99%94csv%EC%83%9D%EC%84%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd
import os
import re

# 카카오톡

In [7]:
kakao_path = '/content/drive/MyDrive/AIFFELTHON/일반대화/TS_KAKAO'
KAKAO_list = os.listdir(kakao_path)

In [11]:
kakao_list = []
for i in KAKAO_list[:350]:
    with open(f'{kakao_path}/{i}', 'r') as f:
        list_file = []
        for line in f:
            line = line.strip()
            list_file.append(line)
        kakao_list.append(list_file)

len(kakao_list)

350

In [14]:
kakao_list[0]

['1 : 아니야 싫어',
 '1 : 난 자격증 공부나 할래',
 '2 : 자격증 공부는 좀 돼가...?',
 '1 : 요즘 계속 못하다가 오늘 정말 조금 했어',
 '2 : 다행이네 감은 아직 안 죽은 거지?',
 '1 : 응응 그래도 어제 올만에 강의 들었는데 잘한대 이주 쉬었어도',
 '2 : 강의를 듣다 보면 사고력이 자라나',
 '1 : 그것도 맞지. 나도 강의 들어야 하는데',
 '2 : 강의는 얼마나 더 들어야 해?',
 '1 : 지금껀 세 번 더 들으면 결제 강의 수가 끝나는데 들을 건 많아서 더 결제해야 해',
 '2 : 엄청 힘들겠다 ㅠㅠ 어떡해',
 '1 : 그래도 해야지 별 수 있나',
 '2 : 하지만 배움은 끝이 없기에 계속 도전해야 해',
 '1 : 맞아 배울 건 많고 도전할 것도 많아',
 '2 : 난 자기를 항상 응원해!',
 '1 : 나도 자기 항상 응원해',
 '2 : 우리 계속 도전하는 사이 되자']

In [23]:
new_kakao = []

for kakao in kakao_list:
    new_sen = ''
    for s in kakao:
        s = re.sub('(\d{1}) : ', '', s)
        s += '\n'
        new_sen += s
    
    new_kakao.append(new_sen[:-1])

new_kakao[3]

'니는 예능 프로그램 챙겨 보는 거 뭐 있어? 키키\n음 대탈출 챙겨 봤었어요 하하\n나는 놀면 뭐 하니는 잘 챙겨 보는 편이다! 키키\n오호 놀면 뭐 하니 최근에 김태호 피디 그만두지 않았어요?\n오... 대탈출 그게 방탈출 게임 하는 거 맞제? 키키\n넵 하하 방탈출 게임을 모티브로 했죠 하하\n오... 그만둔다고 하던데 벌써 그만둔 건지는 모르겠다 키키\n아하 바뀌면 놀면 뭐 하니 좀 많이 달라질 수도 있겠네요\n대탈출 그거 재밌다고 하더라고?\n시즌이 꽤 많이 나왔다고 하던데?\n시즌4까지 나왔을걸요? 하하\n한 달 전인가 두 달 전에 대탈출 시즌4 끝났어요 하하\n응 그럴 것 같은데...\n김태로랑 유재석 케미가 너무 좋았어서... 아쉽긴 하다 ㅜ\n맞아요 하하\n김태호가 유재석 악개로 유명하죠\n오... 시즌 4까지 나왔구나!\n그거 한 시리즈에 한 개 탈출하는 거가? 키키\n아뇨 하하\n스토리는 바뀌는데 시즌마다 이전 시즌이랑 세계관이 이어져요 하하\n재밌겠네? 키키\n넷플릭스 이런 데서 볼 수 있는가? 키키\n넵 하하 아마 넷플릭스에 올라와 있을 거예요'

In [ ]:
new_label = ['일반 대화']*350
new_label = pd.DataFrame(zip(new_label))

In [76]:
kakao = pd.DataFrame(zip(new_kakao))
kakao = pd.concat([kakao,new_label],axis=1)
kakao.columns = ['conversation', 'class']
kakao.head()

                                        conversation  class
0  아니야 싫어\n난 자격증 공부나 할래\n자격증 공부는 좀 돼가...?\n요즘 계속 ...  일반 대화
1  자격증을 딸까 아니면 지금 하고 있는 일에 집중할까?\n흠 너 무슨 자격증 따려고 ...  일반 대화
2  니는 예능 프로그램 챙겨 보는 거 뭐 있어? 키키\n음 대탈출 챙겨 봤었어요 하하\...  일반 대화
3  니는 예능 프로그램 챙겨 보는 거 뭐 있어? 키키\n음 대탈출 챙겨 봤었어요 하하\...  일반 대화
4  자격증을 딸까 아니면 지금 하고 있는 일에 집중할까?\n흠 너 무슨 자격증 따려고 ...  일반 대화

# 에듀케이션

In [57]:
EDU_path = '/content/drive/MyDrive/AIFFELTHON/일반대화/TS_EDU/01.프로그램문의'
EDU_list = os.listdir(EDU_path)

edu_list = []
for i in EDU_list[:350]:
    with open(f'{EDU_path}/{i}', 'r') as f:
        list_file = []
        for line in f:
            line = line.strip()
            list_file.append(line)
        edu_list.append(list_file)

len(edu_list)

350

In [58]:
edu_list[1]

['A.무엇을 도와드릴까요 #@소속# 고객센터 상담원 #@이름#입니다',
 'B.상담 좀 하고 싶은데요 어제 #@소속#으로 전학 왔어요',
 'A.고객님 어떤 게 궁금하신가요',
 'B.그러니까 한 텀이라고 해야 되나 그런 건 얼마나 되나요',
 'A.기본적으론 3개월인데요 내신대비 기간 포함 4개월 정도 돼요',
 'B.그럼 3개월 동안 레벨이 올라가고 내려갈 수도 있고 그런가요',
 'A.학생의 레벨하고 맞지 않다면 당연히 조정해야지요',
 'B.그럼 한 반에는 몇 명이나 있나요',
 'A.반마다 다른데요 그래도 일곱에서 열명 내외 그 정도예요',
 'B.그럼 레벨테스트도 있는 거고요',
 'A.그렇습니다 자녀분 테스트 시간에 상담받아보시는 건 어떠세요',
 'B.그럼 아이 일정 조율해서 연락드릴게요 수고하세요',
 'A.문의 사항 있으시면 연락 주세요 #@소속# #@이름# 이었습니다']

In [59]:
new_edu = []

for edu in edu_list:
    new_sen = ''
    for s in edu:
        s = re.sub('^[A-Z].', '', s)
        s += '\n'
        new_sen += s
    
    new_edu.append(new_sen[:-1])

new_edu[3]

'날개를 달아줄게요#@소속# 고객센터 상담원#@이름#입니다\n여긴 #@주소# 쪽인데 학원 위치가 어딘가요\n#@주소#에서 #@주소# 방면으로 쭉 올라오시면 되는데요\n그럼 걸어가긴 좀 그러네요 차 갖고 가도 되죠\n#@소속# 1관 검색하고 오셔서 1관 앞에 주차 하시구요\n#@소속# 1관 으로 요\n네 앞에 주차하시고 경비원에게 안내받으시면 되세요\n내비게이션에 나오는#@주소# 이거 맞죠\n맞습니다 1관 앞에 #@소속#경비원이 앞에 있을 거예요\n알겠습니다 감사합니다 수고하세요\n #@소속# 상담원#@이름# 였습니다 좋은 하루 되세요'

In [60]:
edu = pd.DataFrame(zip(new_edu))
edu = pd.concat([edu,new_label],axis=1)
edu.columns = ['conversation', 'class']
edu.shape
edu.head()

                                        conversation  class
0  친절한 상담으로 보답합니다#@소속# 고객센터#@이름# 입니다\n안녕하세요 6620 ...  일반 대화
1  무엇을 도와드릴까요 #@소속# 고객센터 상담원 #@이름#입니다\n상담 좀 하고 싶은...  일반 대화
2  안녕하십니까 #@소속# 고객센터 상담원 #@이름# 입니다\n궁금한게 있어서 전화 드...  일반 대화
3  날개를 달아줄게요#@소속# 고객센터 상담원#@이름#입니다\n여긴 #@주소# 쪽인데 ...  일반 대화
4  늦게 받아 죄송합니다 #@소속# 고객센터 #@이름# 입니다\n숙제 관련해서 문의 사...  일반 대화

# 쇼핑

In [63]:
sho_path = '/content/drive/MyDrive/AIFFELTHON/일반대화/TS_Shopping/07.온오프라인안내'
SHO_list = os.listdir(sho_path)

sho_list = []
for i in SHO_list[:350]:
    with open(f'{sho_path}/{i}', 'r') as f:
        list_file = []
        for line in f:
            line = line.strip()
            list_file.append(line)
        sho_list.append(list_file)

len(sho_list)

350

In [64]:
sho_list[1]

['A.안녕하세요 #@소속# 고객센터입니다',
 'A.어떤 도움 필요하세요 고객님',
 'B.네 온라인 회원번호를 잊어먹어서요',
 'B.혹시 여기에서 알려줄 수 있나요',
 'A.네 고객님 회원번호요',
 'A.제가 해드리기는 힘들고요',
 'A.#@전번# 여기로 전화해주시겠어요',
 'B.거기서 찾아주나요 회원번호를요',
 'A.연락주시면 바로 확인해 드릴 거예요',
 'B.네 그러면 해볼게요 감사합니다',
 'A.감사합니다 고객님 #@소속#였습니다']

In [65]:
new_sho = []

for sho in sho_list:
    new_sen = ''
    for s in sho:
        s = re.sub('^[A-Z].', '', s)
        s += '\n'
        new_sen += s
    
    new_sho.append(new_sen[:-1])

new_sho[3]

'안녕하세요 #@소속# 고객센터입니다\n고객님의 질문에 성심껏 답변해 드리겠습니다\n회원 정보를 변경하고 싶습니다\n어떻게 해야 하나요\n로그인 하셨나요 고객님\n마이페이지의 회원정보 수정 메뉴가 있습니다\n네 로그인하고 마이페이지요\n회원정보는 언제든지 수정 가능합니다\n수정된 사항은 즉시 반영됩니다\n네 그럼 해볼게요 감사합니다\n언제나 고객님의 편의를 위해 노력하겠습니다\n감사합니다 고객님 #@소속#였습니다'

In [66]:
sho = pd.DataFrame(zip(new_sho))
sho = pd.concat([sho,new_label],axis=1)
sho.columns = ['conversation', 'class']
sho.shape
sho.head()

                                        conversation  class
0  네 안녕하세요 #@소속# 상담원 #@이름# 입니다\n제가 외국인인데 #@소속# 온라...  일반 대화
1  안녕하세요 #@소속# 고객센터입니다\n어떤 도움 필요하세요 고객님\n네 온라인 회원...  일반 대화
2  반갑습니다 @#소속# 상담사 #@이름#입니다\n안녕하세요 회원 탈퇴를 하려고 하는데...  일반 대화
3  안녕하세요 #@소속# 고객센터입니다\n고객님의 질문에 성심껏 답변해 드리겠습니다\n...  일반 대화
4  전화 주셔서 감사합니다 #@소속# #@이름# 상담원입니다\n휴대폰 인증은 본인 거로...  일반 대화

# 병합 및 csv저장

In [68]:
daily_talk = pd.concat([kakao, edu, sho], axis=0)
daily_talk.head()

                                        conversation  class
0  아니야 싫어\n난 자격증 공부나 할래\n자격증 공부는 좀 돼가...?\n요즘 계속 ...  일반 대화
1  자격증을 딸까 아니면 지금 하고 있는 일에 집중할까?\n흠 너 무슨 자격증 따려고 ...  일반 대화
2  니는 예능 프로그램 챙겨 보는 거 뭐 있어? 키키\n음 대탈출 챙겨 봤었어요 하하\...  일반 대화
3  니는 예능 프로그램 챙겨 보는 거 뭐 있어? 키키\n음 대탈출 챙겨 봤었어요 하하\...  일반 대화
4  자격증을 딸까 아니면 지금 하고 있는 일에 집중할까?\n흠 너 무슨 자격증 따려고 ...  일반 대화

In [80]:
daily_talk.shape

(1050, 2)

In [75]:
daily_talk.isnull().sum()

conversation    0
class           0
dtype: int64

In [100]:
id = []
for i in range(3950,5000):
    id.append(str(i))
    
id = pd.DataFrame(zip(id))
id.columns = ['idx']

In [106]:
daily_talk.reset_index(inplace=True, drop=True)

In [ ]:
daily_talk = pd.concat([id, daily_talk], axis=1)

In [111]:
daily_talk = daily_talk[['idx','class','conversation']]
daily_talk.head()

    idx  class                                       conversation
0  3950  일반 대화  아니야 싫어\n난 자격증 공부나 할래\n자격증 공부는 좀 돼가...?\n요즘 계속 ...
1  3951  일반 대화  자격증을 딸까 아니면 지금 하고 있는 일에 집중할까?\n흠 너 무슨 자격증 따려고 ...
2  3952  일반 대화  니는 예능 프로그램 챙겨 보는 거 뭐 있어? 키키\n음 대탈출 챙겨 봤었어요 하하\...
3  3953  일반 대화  니는 예능 프로그램 챙겨 보는 거 뭐 있어? 키키\n음 대탈출 챙겨 봤었어요 하하\...
4  3954  일반 대화  자격증을 딸까 아니면 지금 하고 있는 일에 집중할까?\n흠 너 무슨 자격증 따려고 ...

In [113]:
daily_talk.to_csv('/content/drive/MyDrive/아이펠톤/daily.csv')