<a href="https://colab.research.google.com/github/RealMyeong/AIFFELTHON/blob/main/JinMyeong/data_labelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd

data_1 = pd.read_csv('/content/drive/MyDrive/AIFFELTHON/TUNiB/train_진명.csv')

In [16]:
data_1.head()

,idx,class,conversation,Unnamed: 3
0,0,협박 대화,지금 너 스스로를 죽여달라고 애원하는 것인가?\n 아닙니다. 죄송합니다.\n 죽을 ...,NaN
1,1,협박 대화,길동경찰서입니다.\n9시 40분 마트에 폭발물을 설치할거다.\n네?\n똑바로 들어 ...,NaN
2,2,기타 괴롭힘 대화,너 되게 귀여운거 알지? 나보다 작은 남자는 첨봤어.\n그만해. 니들 놀리는거 재미...,NaN
3,3,갈취 대화,어이 거기\n예??\n너 말이야 너. 이리 오라고\n무슨 일.\n너 옷 좋아보인다?...,NaN
4,4,갈취 대화,저기요 혹시 날이 너무 뜨겁잖아요? 저희 회사에서 이 선크림 파는데 한 번 손등에 ...,NaN

In [17]:
data_1 = data_1.dropna(axis=0)

In [18]:
len(data_1)

1343

In [19]:
data_1.duplicated(['conversation']).sum()

9

In [22]:
data_1 = data_1.drop_duplicates(['conversation'], keep='first')

In [23]:
data_1.duplicated(['conversation']).sum()

0

In [24]:
len(data_1)

1334

In [25]:
data_1.head()

,idx,class,conversation,Unnamed: 3
1299,1299,직장 내 괴롭힘 대화,길동씨 이번에 이것좀 처리해요\n이거 제가 한게 아닌데요\n팀에서 내가 니가가 어딨...,"1,2,1,2,1,2,1,2,1,2"
1300,1300,기타 괴롭힘 대화,야 너 앞니 왜 그렇게 튀어나왔냐?\n 태어날때부터 그랬어 물어보지마.\n 아 그럼...,"1,2,1,2,1,2,1,2,1,1,1,2,1,1"
1301,1301,갈취 대화,원후야 학원 교재 사야되는데 8만원만 주면 안돼?\n 미안 나 오늘은 진짜 돈이 없...,"1,2,1,2,1,2,1,2,1,2"
1302,1302,갈취 대화,너 저번에 술먹은 날 기억해?\n아니 왜?\n야 300만원만 가져와.\n뭔 소리야....,"1,2,1,2,1,2,1,2,1,2"
1303,1303,협박 대화,너 또 내말 무시하냐?\n 이새끼 널 좆으로 보나본데?\n아냐 진짜 시간이 없었어 ...,"1,1,2,1,1,2,1,2,1,1"

In [26]:
data_2 = pd.read_csv('/content/drive/MyDrive/AIFFELTHON/TUNiB/train_심성보 (1).csv')
data_2.head()

,idx,class,conversation,labelling
0,0,협박 대화,지금 너 스스로를 죽여달라고 애원하는 것인가?\n 아닙니다. 죄송합니다.\n 죽을 ...,"1,2,1,2,1,2,1,2,1,2"
1,1,협박 대화,길동경찰서입니다.\n9시 40분 마트에 폭발물을 설치할거다.\n네?\n똑바로 들어 ...,"2,1,2,1,2,1,2,1,2,1"
2,2,기타 괴롭힘 대화,너 되게 귀여운거 알지? 나보다 작은 남자는 첨봤어.\n그만해. 니들 놀리는거 재미...,"1,2,1,1,2,1,2,1,1,2"
3,3,갈취 대화,어이 거기\n예??\n너 말이야 너. 이리 오라고\n무슨 일.\n너 옷 좋아보인다?...,"1,2,1,2,1,1,2,1,1,1,2"
4,4,갈취 대화,저기요 혹시 날이 너무 뜨겁잖아요? 저희 회사에서 이 선크림 파는데 한 번 손등에 ...,"1,2,1,2,1,2,1,2,1,2,1,2"

In [28]:
data_2 = data_2.dropna(axis=0)

In [29]:
len(data_2)

1300

In [32]:
data_2.duplicated(['conversation']).sum()

11

In [33]:
data_2 = data_2.drop_duplicates(['conversation'], keep='first')

In [34]:
len(data_2)

1289

In [36]:
a = data_2['conversation'][0]

In [45]:
data_1.rename(columns = {"Unnamed: 3": "labelling"}, inplace = True)

In [46]:
data_1.head()

,idx,class,conversation,labelling
1299,1299,직장 내 괴롭힘 대화,길동씨 이번에 이것좀 처리해요\n이거 제가 한게 아닌데요\n팀에서 내가 니가가 어딨...,"1,2,1,2,1,2,1,2,1,2"
1300,1300,기타 괴롭힘 대화,야 너 앞니 왜 그렇게 튀어나왔냐?\n 태어날때부터 그랬어 물어보지마.\n 아 그럼...,"1,2,1,2,1,2,1,2,1,1,1,2,1,1"
1301,1301,갈취 대화,원후야 학원 교재 사야되는데 8만원만 주면 안돼?\n 미안 나 오늘은 진짜 돈이 없...,"1,2,1,2,1,2,1,2,1,2"
1302,1302,갈취 대화,너 저번에 술먹은 날 기억해?\n아니 왜?\n야 300만원만 가져와.\n뭔 소리야....,"1,2,1,2,1,2,1,2,1,2"
1303,1303,협박 대화,너 또 내말 무시하냐?\n 이새끼 널 좆으로 보나본데?\n아냐 진짜 시간이 없었어 ...,"1,1,2,1,1,2,1,2,1,1"

In [48]:
data_1['split_conversation'] = data_1['conversation'].apply(lambda x : x.split('\n'))

In [49]:
data_1.head()

,idx,class,conversation,labelling,split_conversation
1299,1299,직장 내 괴롭힘 대화,길동씨 이번에 이것좀 처리해요\n이거 제가 한게 아닌데요\n팀에서 내가 니가가 어딨...,"1,2,1,2,1,2,1,2,1,2","[길동씨 이번에 이것좀 처리해요, 이거 제가 한게 아닌데요, 팀에서 내가 니가가 어..."
1300,1300,기타 괴롭힘 대화,야 너 앞니 왜 그렇게 튀어나왔냐?\n 태어날때부터 그랬어 물어보지마.\n 아 그럼...,"1,2,1,2,1,2,1,2,1,1,1,2,1,1","[야 너 앞니 왜 그렇게 튀어나왔냐?, 태어날때부터 그랬어 물어보지마., 아 그..."
1301,1301,갈취 대화,원후야 학원 교재 사야되는데 8만원만 주면 안돼?\n 미안 나 오늘은 진짜 돈이 없...,"1,2,1,2,1,2,1,2,1,2","[원후야 학원 교재 사야되는데 8만원만 주면 안돼?, 미안 나 오늘은 진짜 돈이 ..."
1302,1302,갈취 대화,너 저번에 술먹은 날 기억해?\n아니 왜?\n야 300만원만 가져와.\n뭔 소리야....,"1,2,1,2,1,2,1,2,1,2","[너 저번에 술먹은 날 기억해?, 아니 왜?, 야 300만원만 가져와., 뭔 소리야..."
1303,1303,협박 대화,너 또 내말 무시하냐?\n 이새끼 널 좆으로 보나본데?\n아냐 진짜 시간이 없었어 ...,"1,1,2,1,1,2,1,2,1,1","[너 또 내말 무시하냐?, 이새끼 널 좆으로 보나본데?, 아냐 진짜 시간이 없었어..."

In [115]:
def label_mapping(data):
  label_sentence = []
  error_sentence = []
  for row in data.iterrows():
    conversation = row[1]['split_conversation']
    labelling = row[1]['labelling'].split(',')
    conversation = [x for x in conversation if x != '']
    try:
      sen = []
      for i in range(len(labelling)):
        label_sen = labelling[i] + ':' + conversation[i].strip()
        sen.append(label_sen)
      label_sentence.append(sen)
    except:
      sen = []
      labelling = row[1]['labelling'].split(',')
      labelling.pop()
      for i in range(len(labelling)):
        label_sen = labelling[i] + ':' + conversation[i].strip()
        sen.append(label_sen)
      label_sentence.append(sen)
      error_sentence.append(sen)

  return label_sentence, error_sentence

In [116]:
label_sentence, error_sentence = label_mapping(data_1)

In [117]:
label_sentence[1]

['1:야 너 앞니 왜 그렇게 튀어나왔냐?',
 '2:태어날때부터 그랬어 물어보지마.',
 '1:아 그럼 태어날때부터 못생기거네?',
 '2:괴롭히지마 제발',
 '1:아니 너는 내가 말만하면 괴롭혔다고 한다?',
 '2:혼자있게해줘',
 '1:지 혼자 있는거같아서 말걸어줬더니만 나쁜 사람만드네 그래놓고 왕따 시켰다고 말하지나 마 진짜 성격이 왜그따위야? 가정교육 잘못받았냐',
 '2:부모님은 건드리지마',
 '1:어쭈 발끈한다 지도 자식이라 이거지',
 '1:얘 왜 우냐?',
 '1:아니 몰라 지혼자 갑자기 화내',
 '2:제발 혼자있게 해줘 내버려둬',
 '1:이거 왜 또 지 혼자 감성적이냐? 애니 그만 보라했지',
 '1:완전 얘 코미디언 아니냐']

In [118]:
error_sentence

[['1:야! 누가 카드를 한손으로 줘. 다시 두손으로 줘',
  '2:고객님 원래 카드는 한손으로 주는데요.',
  '1:어린노무자식이 어른한테 꼬박꼬박 말대꾸네. 가정교육 어떻게 배운거야 이거',
  '1:죄송합니다. 제가 이 가게 사장인데요. 얼른 사과드려 빨리',
  '2:이분께서 카드 결제하고 두손으로 안줬다고 먼저 저희 부모님 욕하셨는데요?',
  '1:아니 이자식이 끝까지 말대꾸네. 저 싸가지 없는거. 장사 그만하고 싶어? 가게 망하게 해줘?',
  '1:죄송합니다. 이 친구가 어려서 아직 잘 몰라서 그럽니다. 빨리 사과드리라니까',
  '2:저는 사과 못해요. 저는 잘못한거 하나 없어요.',
  '1:선생님. 제가 대신 사과 드리겠습니다. 이 친구가 아직 사회생활을 안해봐서 그런것 같습니다. 넌 해고야. 월급도 없을줄 알아. 집에가 나가',
  '1:이자식 학교랑 부모님 전화번호좀 줘봐. 아니 가정교육 인성교육을 어떻게 받았길래 내가 한마디 해야지. 안주면 서울역점 편의점 고객응대 엉망이고 개판이라고 언론에 올릴꺼야. 내가 뭐하는 사람인지 알아? 나 이런 사람이야.'],
 ['1:저 제스타일이신데 번호점',
  '2:싫어요',
  '1:아 존나 튕기네',
  '2:싫다는데 왜 물어봐요',
  '1:존나 비싸게 구네 비싸게 굴지말고 전번좀 주라',
  '2:저 남자친구 있어서 전번줄수 없어요',
  '1:그럼 친구라도 지내게 전화번호좀 주세요',
  '2:싫어요 왜자꾸 전화번호 달라고 하세요',
  '1:전번줄때까지 휴대폰 안줄꺼예요',
  '2:전번줄테니까 휴대폰 주세요'],
 ['1:친구야 나 돈좀빌리자',
  '2:안돼 나 이거 독서실갈돈이야.',
  '1:독서실갈돈은있고 나빌려줄돈은 없냐',
  '2:저번에도 빌려줘서 안갚았잖아',
  '1:야 그거랑 같이쳐서 내일줄테니까 오늘만 빌리자',
  '2:나진짜 이제 엄마한테 돈검사 받아야되서 안돼.',
  '1:니엄마한테는 돈썻다 하면되지 뭘그러냐',
  '2:너 나한테 빌려간돈만 5만원이넘어.',
  '1:야 그거다 갚아주면되잖아 째째하게 왜그러냐',
  '2:아 알았어.이번이 마지막이야.']]

In [120]:
data_2['split_conversation'] = data_2['conversation'].apply(lambda x : x.split('\n'))

In [121]:
data_2.head()

,idx,class,conversation,labelling,split_conversation
0,0,협박 대화,지금 너 스스로를 죽여달라고 애원하는 것인가?\n 아닙니다. 죄송합니다.\n 죽을 ...,"1,2,1,2,1,2,1,2,1,2","[지금 너 스스로를 죽여달라고 애원하는 것인가?, 아닙니다. 죄송합니다., 죽을..."
1,1,협박 대화,길동경찰서입니다.\n9시 40분 마트에 폭발물을 설치할거다.\n네?\n똑바로 들어 ...,"2,1,2,1,2,1,2,1,2,1","[길동경찰서입니다., 9시 40분 마트에 폭발물을 설치할거다., 네?, 똑바로 들어..."
2,2,기타 괴롭힘 대화,너 되게 귀여운거 알지? 나보다 작은 남자는 첨봤어.\n그만해. 니들 놀리는거 재미...,"1,2,1,1,2,1,2,1,1,2","[너 되게 귀여운거 알지? 나보다 작은 남자는 첨봤어., 그만해. 니들 놀리는거 재..."
3,3,갈취 대화,어이 거기\n예??\n너 말이야 너. 이리 오라고\n무슨 일.\n너 옷 좋아보인다?...,"1,2,1,2,1,1,2,1,1,1,2","[어이 거기, 예??, 너 말이야 너. 이리 오라고, 무슨 일., 너 옷 좋아보인다..."
4,4,갈취 대화,저기요 혹시 날이 너무 뜨겁잖아요? 저희 회사에서 이 선크림 파는데 한 번 손등에 ...,"1,2,1,2,1,2,1,2,1,2,1,2",[저기요 혹시 날이 너무 뜨겁잖아요? 저희 회사에서 이 선크림 파는데 한 번 손등에...

In [122]:
label_sentence_2, error_sentence_2 = label_mapping(data_2)

In [123]:
label_sentence_2[0]

['1:지금 너 스스로를 죽여달라고 애원하는 것인가?',
 '2:아닙니다. 죄송합니다.',
 '1:죽을 거면 혼자 죽지 우리까지 사건에 휘말리게 해? 진짜 죽여버리고 싶게.',
 '2:정말 잘못했습니다.',
 '1:너가 선택해. 너가 죽을래 네 가족을 죽여줄까.',
 '2:죄송합니다. 정말 잘못했습니다.',
 '1:너에게는 선택권이 없어. 선택 못한다면 너와 네 가족까지 모조리 죽여버릴거야.',
 '2:선택 못하겠습니다. 한번만 도와주세요.',
 '1:그냥 다 죽여버려야겠군. 이의 없지?',
 '2:제발 도와주세요.']

In [124]:
error_sentence_2

[]

In [119]:
data_3 = pd.read_csv('/content/drive/MyDrive/AIFFELTHON/TUNiB/train_권세영.csv')
data_3.head()

,idx,class,conversation,new_label
0,2650,협박 대화,야 니동생 엄청 예쁘더라\n미안해. 우리동생 건들지 말아줘. 나 절대 다시 못들어가...,"1,2,1,2,1,1,2,1,2,1,2"
1,2651,직장 내 괴롭힘 대화,어 이과장이 이번에 곧 승진이라고 했나?\n맞습니다.\n그러면 너가 일을 해줘야 겠...,"1,2,1,2,1,2,1,2,1,2,1,2,1"
2,2652,기타 괴롭힘 대화,야 병신! 넌 학교 왜 나오냐? 어차피 졸업해도 취직도 못할텐데\n저리가\n줘리가야...,"1,2,1,1,2,1,1,1,1,2"
3,2653,협박 대화,야 니가 나에 대해 이상한 소문 내고 다닌다면서?\n 너에 대해 이야기 한적 없어....,"1,2,1,2,1,2,1,2,1"
4,2654,기타 괴롭힘 대화,너 나랑 헤어지면 이거 니 주변 사람들한테 다 돌린다\n이게 뭐야?\n이게 뭐긴 우...,"1,2,1,2,1,2,1,2,1,2"

In [132]:
len(data_3)

1300

In [125]:
data_3['split_conversation'] = data_3['conversation'].apply(lambda x : x.split('\n'))
data_3.head()

,idx,class,conversation,new_label,split_conversation
0,2650,협박 대화,야 니동생 엄청 예쁘더라\n미안해. 우리동생 건들지 말아줘. 나 절대 다시 못들어가...,"1,2,1,2,1,1,2,1,2,1,2","[야 니동생 엄청 예쁘더라, 미안해. 우리동생 건들지 말아줘. 나 절대 다시 못들어..."
1,2651,직장 내 괴롭힘 대화,어 이과장이 이번에 곧 승진이라고 했나?\n맞습니다.\n그러면 너가 일을 해줘야 겠...,"1,2,1,2,1,2,1,2,1,2,1,2,1","[어 이과장이 이번에 곧 승진이라고 했나?, 맞습니다., 그러면 너가 일을 해줘야 ..."
2,2652,기타 괴롭힘 대화,야 병신! 넌 학교 왜 나오냐? 어차피 졸업해도 취직도 못할텐데\n저리가\n줘리가야...,"1,2,1,1,2,1,1,1,1,2","[야 병신! 넌 학교 왜 나오냐? 어차피 졸업해도 취직도 못할텐데, 저리가, 줘리가..."
3,2653,협박 대화,야 니가 나에 대해 이상한 소문 내고 다닌다면서?\n 너에 대해 이야기 한적 없어....,"1,2,1,2,1,2,1,2,1","[야 니가 나에 대해 이상한 소문 내고 다닌다면서?, 너에 대해 이야기 한적 없어..."
4,2654,기타 괴롭힘 대화,너 나랑 헤어지면 이거 니 주변 사람들한테 다 돌린다\n이게 뭐야?\n이게 뭐긴 우...,"1,2,1,2,1,2,1,2,1,2","[너 나랑 헤어지면 이거 니 주변 사람들한테 다 돌린다, 이게 뭐야?, 이게 뭐긴 ..."

In [126]:
data_3.rename(columns = {"new_label": "labelling"}, inplace = True)

In [127]:
label_sentence_3, error_sentence_3 = label_mapping(data_3)

In [128]:
label_sentence_3[1]

['1:어 이과장이 이번에 곧 승진이라고 했나?',
 '2:맞습니다.',
 '1:그러면 너가 일을 해줘야 겠어',
 '2:네?',
 '1:이번에 낙하산이 한명 들어올거야.',
 '2:네?',
 '1:그럼 너가 잘관리 좀 해줘.',
 '2:아 제가요.?',
 '1:그래 이번에 승진인데 일 좀 해야지?',
 '2:아.',
 '1:왜 싫어?',
 '2:아닙니다.',
 '1:그래 가족도 있는데 열심히 해야지.']

In [129]:
error_sentence_3

[]

In [131]:
data_3.duplicated(['conversation']).sum()

10

In [136]:
data_3.drop_duplicates(['conversation'], keep='first', inplace=True)

In [137]:
data_3.duplicated(['conversation']).sum()

0